body {
  margin: 0;
  padding: 0;
}


.Navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:#ffffff;;
  height: 40px;
   box-sizing: border-box;
  width: 100%;
}

.Nav-items {
  display: flex;
  gap: 2rem;
}

.Nav-items a{
  text-decoration: none;
  color: #333;
}

.Nav-items a:hover {
  color:#F25C00;
}


.btn {
  color:white;
  background:#F25C00;
  border-radius: 20px;
  padding:10px 20px;
  border:none;
}

.display img{

}


@media (max-width: 768px) {
  .Navbar-container {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 100%;
  }

  .Nav-items {
    display: none;
  }

  .btn {
    padding: 6px 12px;
    font-size: 12px;
    white-space: nowrap;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
  }
}